.header_body
{
	background-image: url(../obrazky/header_bg_post.jpg);
	width: 100%;
	height: 50%;
	size: 100% 100%;
	background-repeat: no-repeat;
	margin: auto;
	display: block;
	background-position: center;
	align-self: center;
	align-content: center;
}


.intro
	{
		width: 500px;
		height: 500px;
		border-radius: 100%;
		overflow: hidden;
		align-self: center;
		display: inline-block;
		position: relative;
		align-content: center;
		align-items: center;
		left: 50%;
	}

